:root {
  --color-login-bg: #ebe6e2;
  --color-primary-bg: #f4f1f0;
  --color-secondary-bg: #eae6e3;

  --menu-bar-bg: #c19780;
  --menu-bar-text: #f2eae7;
  --heading: #9a4f32;

  --gray-8: #545556;
  --gray-6: #7f7f7f;
  --gray-4: #aaaaaa;
}

body {
  background-color: var(--color-primary-bg) !important;
}

nav {
  background-color: var(--menu-bar-bg) !important;
}

#nav-title {
  color: var(--menu-bar-text);
}

#heading {
  color: var(--heading);
}

h5 {
  color: var(--gray-6);
}

p {
  color: var(--gray-6);
}

button {
  color: var(--color-secondary-bg);
  background-color: var(--gray-4);
  border-color: var(--gray-4);
}

.inner {
  background-color: var(--color-primary-bg);
  border-radius: 6px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
  height: 360px;
  width: 220px;
}

#sed-bg {
  background-color: var(--color-secondary-bg);
  /* margin-top: 15px;
  margin-bottom: 15px; */
  border-radius: 6px;
  /* height: 380px; */
}

img,
svg {
  vertical-align: middle;
  width: 260px;
  height: 210px;
  /* border-radius: 6px 6px 0px 0px; */
}

.login-box,
.register-box {
  background-color: var(--color-primary-bg);
  padding: 50px;
}

/* CART */

.cart-container {
  margin-top: 70px;
}

.empty-cart-container {
  margin-top: 70px;
  height: 200px;
}
