@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
/* color palette */
:root {
  --color-login-bg: #ebe6e2;
  --color-primary-bg: #f4f1f0;
  --color-secondary-bg: #eae6e3;
  --menu-bar-bg: #c19780;
  --menu-bar-text: #f2eae7;
  --heading: #9a4f32;
  --hover-color: #ad7259;
  --gray-8: #545556;
  --gray-6: #7f7f7f;
  --gray-4: #aaaaaa;

  --nav-bg: #c19780;
  --nav-t: #f2eae7;
  --nav-h: #9a4f32;

  --body-bg1: #f4f1f0;
  --body-bg2: #eae6e3;
  --card-bg: #f4f1f0;
  --active-bg: #9a4f32;
  --btn-bg: #c19780;
  --card-bg2: #faf2ef;

  --h1: #9a4f32;
  --btn-t: #f2eae7;
  --btn-h: #9a4f32;
  --btn-a: #ad7259;

  --t1: #9a4f32;
  --t2: #c19780;
}

* {
  font-family: "Open Sans Condensed", sans-serif;
}

/* navigation bar */
header,
footer {
  background-color: var(--nav-bg);
}
header a {
  color: var(--nav-t) !important;
}
header a:hover,
.current {
  color: var(--nav-h) !important;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: var(--nav-bg) !important;
}

.dropdown-item {
  color: var(--nav-h) !important;
}

/* page content */
html,
main {
  background-color: var(--body-bg1);
}
.container {
  background-color: var(--body-bg2);
}
h1,
h2 {
  color: var(--h1);
}

/* radio */
input[type="radio"]:checked {
  border-color: var(--active-bg);
  background-color: var(--active-bg);
}
input[type="radio"]:focus,
.btn:focus {
  box-shadow: none !important;
}

/* buttons */
.btn-primary {
  color: var(--btn-t) !important;
  background-color: var(--btn-bg) !important;
  border-color: var(--btn-bg) !important;
}
.btn-primary:hover,
#btn-log,
#cart-check {
  background-color: var(--btn-h) !important;
}
.active {
  background-color: var(--btn-a) !important;
}

/* shoppping cart */
.highlight1 {
  color: var(--t1) !important;
}
.highlight2 {
  color: var(--t2) !important;
}
#change_vendor {
  color: var(--t2);
}
#cart-heading {
  color: var(--t1);
}

/* shopping cart */
@media not screen and (min-width: 768px) {
  .cart-prd h4 {
    font-size: 18px;
  }
  .cart-prd h5 {
    font-size: 16px;
  }
}

/* track order */
#count-down {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
}
#finish {
  background-color: var(--btn-bg);
}
#unfinish {
  background-color: var(--body-bg2);
}
/* .progress {
  height: 50px !important;
  background-color: var(--btn-bg) !important;
}
.progress-bar {
  background-color: var(--bar-grey) !important;
} */
#prg-time {
  color: var(--btn-t);
}

/* index page */
#index-page {
  background-image: url(https://i.ibb.co/fSbN6jy/background-1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #f2eae7;
}

.card-bg {
  background-color: var(--card-bg2) !important;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

/* vendor css */
.highlight3 {
  color: var(--t3);
}
.highlight4 {
  color: var(--t4);
}

.card-footer {
  background-color: #fff !important;
}

#van-progress {
  height: 35px !important;
  background-color: var(--progress-bg) !important;
}

/* minus plus button */
.count__label {
  border: 1px solid var(--gray-4);
  border-radius: 5px;
  color: var(--gray-6);
  font-weight: 700;
  padding: 0.2rem 1.2rem 0.2rem 1.2rem;
}

.minus-plus-container .btn-right {
  font-weight: 600;
  padding: 4 !important;
}

.minus-plus-container .btn-left {
  font-weight: 600;
  padding: 4 !important;
}

/* vendor css */
.highlight3 {
  color: var(--t3);
}
.highlight4 {
  color: var(--t4);
}
#van-progress {
  height: 25px !important;
  background-color: var(--progress-bg) !important;
}

/* progress bar */
.prog-bar {
  background-color: var(--btn-bg);
  border-radius: 6px;
  height: 50px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.prog-bar__fill {
  background-color: var(--heading);
  height: 100%;
}

.prog-bar__text {
  color: var(--menu-bar-text);
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.prog-bar--small {
  background-color: var(--gray-4);
  border-radius: 4px;
  box-sizing: content-box;
  height: 20px;
  margin: auto;
  margin-bottom: 16px;
  padding: 0.3rem 0 0.3rem 0;
  width: 89%;
}

.prog-bar--small .prog-bar__fill {
  background-color: #ebb434;
  bottom: 0.1px;
  height: 100%;
  padding: 1rem 0 1rem 0;
  position: absolute;
}

.prog-bar--small .prog-bar__text {
  font-size: 1rem;
}

@media screen and (min-width: 375px) {
  .prog-bar--small {
    width: 91%;
  }
}
