@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
/* color palette */
:root {
  --color-login-bg: #ebe6e2;
  --color-primary-bg: #f4f1f0;
  --color-secondary-bg: #eae6e3;
  --menu-bar-bg: #c19780;
  --menu-bar-text: #f2eae7;
  --heading: #9a4f32;
  --hover-color: #ad7259;
  --gray-8: #545556;
  --gray-6: #7f7f7f;
  --gray-4: #aaaaaa;

  --nav-bg: #c19780;
  --nav-t: #f2eae7;
  --nav-h: #9a4f32;

  --body-bg1: #f4f1f0;
  --body-bg2: #eae6e3;
  --card-bg: #f4f1f0;
  --active-bg: #9a4f32;
  --btn-bg: #c19780;

  --h1: #9a4f32;
  --btn-t: #f2eae7;
  --btn-h: #9a4f32;
  --btn-a: #ad7259;
}

* {
  font-family: "Open Sans Condensed", sans-serif;
}

/* page content */
html,
main {
  background-color: var(--body-bg1);
}
.container {
  background-color: var(--body-bg2);
}
h1,
h2 {
  color: var(--h1);
}

/* navigation bar */
header,
footer {
  background-color: var(--nav-bg);
}
header a {
  color: var(--nav-t) !important;
}
header a:hover,
.current {
  color: var(--nav-h) !important;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: var(--nav-bg) !important;
}

/* radio */
input[type="radio"]:checked {
  border-color: var(--active-bg);
  background-color: var(--active-bg);
}
input[type="radio"]:focus,
.btn:focus {
  box-shadow: none !important;
}

/* buttons */
.btn-primary {
  color: var(--btn-t) !important;
  background-color: var(--btn-bg) !important;
  border-color: var(--btn-bg) !important;
}
.btn-primary:hover,
#btn-log {
  background-color: var(--btn-h) !important;
}
.active {
  background-color: var(--btn-a) !important;
}

/* OLD CODE */

.login-box,
.register-box {
  background-color: var(--color-primary-bg);
  padding: 50px;
}

/* REUSABLES */

.default-card-bg {
  background-color: var(--color-primary-bg);
  border-radius: 6px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
  padding: 1rem;
}

.title-underline {
  background-color: var(--gray-4);
  border: none;
  height: 3px;
  margin-bottom: 1rem;
  margin-top: 0;
  width: 95%;
}

.secondary-underline {
  background-color: var(--gray-4);
  border: none;
  height: 1px;
  margin-bottom: 1rem;
  margin-top: 0;
  width: 95%;
}

/* PAGE HEADER */

.page-header-container {
  margin: auto;
  max-width: 90vw;
}

.header-left-line,
.header-right-line {
  background-color: var(--menu-bar-bg);
  border: none;
  display: inline-block;
  height: 5px;
}

.header-left-line {
  margin-right: 0.6rem;
  margin-top: 1rem;
  width: 5vw;
}

.header-right-line {
  margin-left: 0.6rem;
  width: 54vw;
}

.page-header-heading {
  color: var(--heading);
  display: inline-block;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .page-header-heading {
    font-size: 1.4rem !important;
  }

  .header-left-line,
  .header-right-line {
    height: 2px;
  }

  .header-right-line {
    width: 45vw;
  }
}

/* CART */

.cart-container {
  margin-top: 70px;
  padding: 1rem;
}

.empty-cart-container {
  margin-top: 70px;
  height: 200px;
}

/* MEDIA COMPONENT */

.media__body {
  margin-left: 0.5rem;
  margin-top: 0.9rem;
}

.media__img {
  border-radius: 15px;
  width: 130px;
  height: 130px;
  object-fit: cover;
  padding: 0.4rem;
}

.media__heading {
  color: var(--menu-bar-bg);
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.media__size {
  margin-top: 2px;
  font-size: 0.8rem;
}

.media .btn {
  border: 2px solid var(--gray-4);
  background-color: transparent;
  border-radius: 6px;
  color: var(--gray-4);
  font-size: 10px;
  padding: 3px 8px 3px 8px;
}

/* MINUS PLUS BUTTON */
.count__label {
  border: 1px solid var(--gray-4);
  border-radius: 5px;
  color: var(--gray-6);
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  padding: 0.2rem 1.2rem 0.2rem 1.2rem;
}

.minus-plus-container .btn {
  font-weight: 600;
}

/* SUMTABLE */

.sumtable {
  display: flex;
}

.sumtable dl {
  margin-bottom: 0;
}

.sumtable__body,
.sumtable__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.sumtable__fields__heading,
.side-sum-table__heading {
  color: var(--heading);
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 800;
}

.media--sumtable {
  flex-grow: 1;
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
}

.sumtable__data {
  margin-top: 1rem;
}

.sumtable__minusplus__btn {
  flex-grow: 2;
}

.sumtable__subtotal {
  flex-grow: 1;
  margin-top: 0.6rem;
}

.sumtable__price {
  flex-grow: 1;
}

.sumtable__fields {
  flex-grow: 1;
}

.sumtable__fields,
.sumtable__subtotal,
.sumtable__price,
.sumtable__minusplus__btn {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-basis: 0;
  justify-content: center;
}

.sumtable-header .sumtable__fields {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .sumtable {
    max-width: 60vw;
  }

  .sumtable__fields__heading {
    font-size: 1.6rem;
  }

  .sumtable__fields__price {
    box-sizing: content-box;
    /* align the headings with the content boxes */
    margin-left: 60px;
  }

  .sumtable__data {
    display: flex;
    flex-direction: row;
    flex-grow: 4;
    font-size: 1.2rem;
    margin-top: 0;
  }

  .sumtable__media {
    flex-grow: 1;
  }

  .sumtable__price {
    margin-top: 0.5rem;
  }
}

/* SIDE SUM TABLE */

.side-sum-table__heading {
  font-size: 1.6rem;
  text-align: center;
}

.side-sum-table__data .items,
.side-sum-table__data .total {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.side_sum_table__vendor__data {
  padding: 0 1rem 0 1rem;
}

.side-sum-table__data .data-name,
.side_sum_table__vendor__data .data-name {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.side-sum-table__data .data-info {
  color: var(--heading);
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
}

.side_sum_table__vendor__data .data-info {
  color: var(--menu-bar-bg);
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
}

.side-sum-table .btn {
  background-color: var(--heading);
  border: 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
}

.side-sum-table .btn:hover {
  background-color: #8a3b0c;
}

@media screen and (max-width: 768px) {
  .side-summary-container {
    margin-top: 1rem;
  }
}

/* CHECKOUT PAGE */
.checkout-container {
  align-items: center;
  background-color: var(--color-secondary-bg);
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0.5rem 1rem 1rem 1rem;
  width: 95vw;
}

.side-summary-container {
  max-width: 240px;
  width: 240px;
}

@media screen and (min-width: 768px) {
  .checkout-container {
    display: flex;
    flex-direction: row;
  }

  .sumtable-container {
    flex-grow: 3;
    margin-left: 2rem;
  }

  .side-summary-container {
    flex-grow: 1;
    margin: 1rem 1.6rem 0 1.6rem;
  }
}

/* ORDERS PAGE */

#content {
  padding: 3vh 5vw;
  background-color: var(--color-primary-bg);
}
.bg {
  border-radius: 5px;
  padding: 1vw;
}
#bg2 {
  background-color: var(--color-secondary-bg);
}
#orderbg {
  background-color: var(--color-primary-bg);
}

#content h1 {
  color: var(--heading);
  font-weight: bold;
}
/* table settings */
#orders_tab img {
  width: 10vw;
}
#orders_tab thead,
#order_info,
#total {
  color: var(--heading);
  font-weight: bold;
}
#orders_tab tbody {
  color: var(--menu-bar-bg);
  font-weight: bold;
}
#orders_tab th span {
  padding-left: 2vw;
}

@media not screen and (min-width: 768px) {
  #order_info .text-end {
    display: none;
  }
  #orders_tab thead,
  #total {
    font-size: 4vw;
  }
  #orders_tab tbody,
  #order_info {
    font-size: 2.4vw;
  }
}
@media screen and (min-width: 1024px) {
  #order_info .text-start {
    display: none;
  }
  #orders_tab thead,
  #total {
    font-size: 25px;
  }
  #orders_tab tbody,
  #order_info {
    font-size: 20px;
  }
  #orders_tab img {
    width: 5vw;
  }
}

/* PRODUCT CARD */
.product-card hr {
  background-color: var(--menu-bar-bg);
  border: none;
  height: 3px;
  margin-top: 0;
  margin-bottom: 24px;
  width: 90%;
}

/* RADIO INPUT
.radio-group .radio,
.size-box {
  border: 1px solid var(--gray-4);
}

.radio-group .radio {
  border-right: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.size-box {
  border-left: 0;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  text-align: right;
}

.radio-group .radio {
  color: var(--gray-6);
} */

/* ORDERS */

.order-details-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order-details-img-box {
  display: inline-block;
  width: 50px;
  height: 80px;
}

.orders-body-cell {
  vertical-align: middle;
}
