:root {
  --color-login-bg: #ebe6e2;
  --color-primary-bg: #f4f1f0;
  --color-secondary-bg: #eae6e3;

  --menu-bar-bg: #c19780;
  --menu-bar-text: #f2eae7;
  --heading: #9a4f32;

  --gray-8: #545556;
  --gray-6: #7f7f7f;
  --gray-4: #aaaaaa;
}

body {
  background-color: var(--color-primary-bg) !important;
}

nav {
  background-color: var(--menu-bar-bg) !important;
}

#nav-title {
  color: var(--menu-bar-text);
}

#heading {
  color: var(--heading);
}

h5 {
  color: var(--gray-6);
}

p {
  color: var(--gray-6);
}

button {
  color: var(--color-secondary-bg);
  background-color: var(--gray-4);
  border-color: var(--gray-4);
}

.inner {
  background-color: var(--color-primary-bg);
  border-radius: 6px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
  height: 360px;
  width: 220px;
}

#sed-bg {
  background-color: var(--color-secondary-bg);
  /* margin-top: 15px;
  margin-bottom: 15px; */
  border-radius: 6px;
  /* height: 380px; */
}

img,
svg {
  vertical-align: middle;
  width: 260px;
  height: 210px;
  /* border-radius: 6px 6px 0px 0px; */
}

.login-box,
.register-box {
  background-color: var(--color-primary-bg);
  padding: 50px;
}

/* CART */

.cart-container {
  margin-top: 70px;
  padding: 1rem;
}

.empty-cart-container {
  margin-top: 70px;
  height: 200px;
}

/* MEDIA COMPONENT */

.table-summary td {
  text-align: center;
  vertical-align: middle !important;
}

.table-summary th {
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
}

.media-img {
  border-radius: 15px;
  width: 20vw;
  height: 20vw;
  padding: 0.4rem;
}

.media-heading {
  font-size: 1rem;
}

/* NAV BAR */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

/* navigation bar */
/* overall nav colors and texts */
nav {
  font-weight: bold;
}
#nav_text {
  font-family: "Open Sans Condensed", sans-serif;
  color: var(--menu-bar-text);
}
.navbar {
  background-color: var(--menu-bar-bg) !important;
}
/* address text decorations */
#location {
  font-weight: 300;
}
/* change color when hovering */
#nav_text:hover {
  color: var(--heading);
}
/* change text color of current tab */
#top_nav .active {
  color: var(--heading);
}
/* cancel undreline for 'hi, ' */
.navbar-text #nav_text {
  text-decoration: none;
}

.nav-item {
  align-items: flex-end;
}

/* settings for pc */
@media screen and (min-width: 768px) {
  #phone_nav,
  .phone_nav {
    display: none;
  }
  /* gaps between tabs */
  nav {
    padding: 0 5vw;
  }
  nav li {
    padding-left: 6vw;
  }
}

/* change font sixe for different screens */
@media screen and (min-width: 768px) and (max-width: 1025px) {
  #nav_text {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1025px) {
  #nav_text {
    font-size: 1.5vw;
  }
}

@media not screen and (min-width: 768px) {
  /* #pc_nav {display: none;} */
  nav {
    padding: 0 3vw;
  }
  .container-fluid {
    padding: 0;
  }
  #nav_text {
    font-size: 20px;
  }
  #fo_log .active {
    background-color: var(--heading);
  }
  #fo_log a:hover {
    background-color: var(--hover-color);
  }
}

/* ORDERS PAGE */

#content {
  padding: 3vh 5vw;
  background-color: var(--color-primary-bg);
}
.bg {
  border-radius: 5px;
  padding: 1vw;
}
#bg2 {
  background-color: var(--color-secondary-bg);
}
#orderbg {
  background-color: var(--color-primary-bg);
}

#content h1 {
  color: var(--heading);
  font-weight: bold;
}
/* table settings */
#orders_tab img {
  width: 10vw;
}
#orders_tab thead,
#order_info,
#total {
  color: var(--heading);
  font-weight: bold;
}
#orders_tab tbody {
  color: var(--menu-bar-bg);
  font-weight: bold;
}
#orders_tab th span {
  padding-left: 2vw;
}

@media not screen and (min-width: 768px) {
  #order_info .text-end {
    display: none;
  }
  #orders_tab thead,
  #total {
    font-size: 4vw;
  }
  #orders_tab tbody,
  #order_info {
    font-size: 2.4vw;
  }
}
@media screen and (min-width: 1024px) {
  #order_info .text-start {
    display: none;
  }
  #orders_tab thead,
  #total {
    font-size: 25px;
  }
  #orders_tab tbody,
  #order_info {
    font-size: 20px;
  }
  #orders_tab img {
    width: 5vw;
  }
  .media-img {
    width: 10vw;
    height: 10vw;
  }
}

/* PRODUCT CARD */
.product-card hr {
  background-color: var(--menu-bar-bg);
  border: none;
  height: 3px;
  margin-top: 0;
  margin-bottom: 24px;
  width: 90%;
}

/* RADIO INPUT */
.radio-group .radio,
.size-box {
  border: 1px solid var(--gray-4);
}

.radio-group .radio {
  border-right: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.size-box {
  border-left: 0;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  text-align: right;
}

.radio-group .radio {
  color: var(--gray-6);
}

/* ORDERS */

.order-details-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order-details-img-box {
  display: inline-block;
  width: 50px;
  height: 80px;
}

.orders-body-cell {
  vertical-align: middle;
}
