:root{
    --color-login-bg:#EBE6E2;
    --color-primary-bg:#F4F1F0;
    --color-secondary-bg:#EAE6E3;

    --menu-bar-bg:#C19780;
    --menu-bar-text:#F2EAE7;
    --heading:#9A4F32;

    --gray-8:#545556;
    --gray-6:#7F7F7F;
    --gray-4:#AAAAAA;

}