@import "color.css";

body{
    background-color: var(--color-primary-bg) !important;
}

nav{
    background-color: var(--menu-bar-bg) !important;
}

#nav-title{
    color: var(--menu-bar-text);
}

#heading{
    color: var(--heading);
}

h5{
    color:var(--gray-6);
}

p{
    color:var(--gray-6);
}

button{
    color:var(--color-secondary-bg) !important;
    background-color: var(--gray-4) !important;
    border-color: var(--gray-4) !important;
}

.inner{
    background-color:var(--color-primary-bg);
    height: 360px;
    border-radius: 6px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
}

#sed-bg {
    background-color: var(--color-secondary-bg);
    /* margin-top: 15px;
    margin-bottom: 15px; */
    border-radius: 6px;
    /* height: 380px; */
}

img, svg {
    vertical-align: middle;
    width: 260px;
    height: 210px;
    /* border-radius: 6px 6px 0px 0px; */
}


