@import "color.css";
body{
    background-color: var(--color-primary-bg) !important;
}
.box {
    position: relative;
    height: 250px;
    width: 100%;
    border-radius: 5px;
    background-color:var(--color-secondary-bg);
}
.box2 {
    position: absolute;
    margin:auto;
    top: 15px;
    left:15px;
    right: 15px;
    bottom:15px;
    box-shadow:2px 2px 8px rgb(114, 111, 111);
    background-color:var(--color-primary-bg);
}
h1 {
    color: var(--heading);
}
h2 {
    color: var(--heading);
    font-weight:300;
}
h4 {
    color: var(--gray-4);
    font-weight: 300;
}

.btn {
    border: none !important;
    margin: auto !important;
}

.btn:hover {
   
    color: var( --color-secondary-bg)!important;
    background-color: var(--hover-color)!important;
}

.rectangle {
    background-color: var(--menu-bar-bg);
    height: 15px;
    width: 104%;
}

.fas {
    color: var(--menu-bar-bg);
    padding-left: 30%;
}

.grey {
    color:var(--gray-6);
    
}

.progress {
    background-color:var(--gray-6)!important;
}

.progress-bar {
    background-color: var(--heading)!important;
    font-size: 15px;
    
}




